body {
    font: 14px sans-serif;
}
header {
    text-align: center;
}

#dropdowns {
    margin-left: 20px;
    float: left;
}

#floorplan {
    float: left;
}

#time-slider {
    display: block;
    margin-top: 20px;
    position: relative;
    width: 1300px;
}

#vis {
    margin-top: 20px;
    position: relative;
    height: 700px;
}

.button {
    background-color: green;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
}

.button.active {
    background-color: red;
}

.button:hover {
    background-color: orange;
}

.hidden {
    display: none;
}
